* {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

#cadastro {
    margin: 20px 20px 20px 20px;
    background-color: rgb(235, 140, 140);
}

#filtro {
    margin: 60px 20px 20px 20px;
    background-color: rgb(235, 235, 135)
}

#despesas {
    margin: 60px 20px 20px 20px;
    background-color: rgb(163, 145, 145)
}

#extrato {
    margin: 20px 20px 0 20px;
    background-color: rgb(243, 203, 128)
}